extends ../layout/layout

block styles
   link(rel='stylesheet',href='/dialog.css')

block content
   div.dialog-html-main
      fieldset
         legend Dialog组件
         button.btn Dialog
      fieldset
         legend Alert
         button.btn Alert
      fieldset
         legend Confirm
         button.btn Confirm
      fieldset
         legend Tips
         button#tips.btn Tips
         button#tips2.btn Tips
         button#tips3.btn Tips
         button#tips4.btn Tips
      fieldset
         legend Loading
         button.btn Loading
      fieldset
         legend Img
         img.img

block scripts
   script(src='/dialog.js')


