<% layout('layout/layout.html') -%>
<!--<% block('csst').append('<link rel="stylesheet" href="/less/page/index.css">') %>-->
<% block('csst').append('<link rel="stylesheet" href="/dialog.css">') %>
<div class="dialog-html-main">
    <fieldset>
        <legend>Dialog组件</legend>
        <button class="btn">Dialog</button>
    </fieldset>
    <fieldset>
        <legend>Alert</legend>
        <button class="btn">Alert</button>
    </fieldset>
    <fieldset>
        <legend>Confirm</legend>
        <button class="btn">Confirm</button>
    </fieldset>
    <fieldset>
        <legend>Tips</legend>
        <button id="tips" class="btn">Tips</button>
        <button id="tips2" class="btn">Tips</button>
        <button id="tips3" class="btn">Tips</button>
        <button id="tips4" class="btn">Tips</button>
    </fieldset>
    <fieldset>
        <legend>Loading</legend>
        <button class="btn">Loading</button>
    </fieldset>
</div>
<% block('jst').append('<script src="/dialog.js"></script>') %>