.tc-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -200px;
  padding: 0;
  min-width: 340px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  background-clip: content-box;
  -webkit-background-clip: content-box;
  animation-fill-mode:both;
  animation-duration: .3s;
  overflow: hidden;
  z-index: 10001;
  &-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color:#000;
    opacity: .3;
  }
  &-content{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 22px 60px 22px 75px;
    -ms-word-break: break-all;
    word-break: break-all;
    text-align: center;
    font-size: 14px;
    i{
      background-position: -93px 0;
    }
  }
  &-setwin{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    line-height: inherit;
    a{
      display: inline-block;
      position: absolute;
      right: -18px;
      top: -15px;
      width: 30px;
      height: 30px;
      margin-left: 0;
      background-position: -220px -44px;
      vertical-align: top;
      background: url(/public/static/img/common/icon_b.png) no-repeat;
    }
  }
  &-btn{
    text-align: center;
    margin: 0;
    padding: 0 30px 20px;
    pointer-events: auto;
    a{
      width: 100px;
      height: 30px;
      line-height: 30px;
      margin: 0 8px;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      background-color: #f04447;
      &:hover{
        opacity: .9;
        text-decoration: none;
      }
      &:active{
        opacity: .7;
      }
    }
  }
  &-btn0{
    background-color: #f04447;
  }
  &-btn1{
    background-color: #ccc;
  }
}
.ui-dialog{
  &-show{
    display: block;
  }
  &-hide{
    display: none;
  }
}
